<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <title>Home</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">This is awkward...</h1>
        <h2 th:if="${errorCode}" th:text="${errorCode}"></h2>
        <hr class="my-4">
        <h5 th:if="${errorMsg}" th:text="${errorMsg}"></h5>
        <a th:href="@{/home}" class="btn btn-primary btn-lg" href="#" role="button">Home</a>
    </div>
</div>
</body>
</html>
