<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
                <form id="logoutForm" action="#" method="POST" th:action="@{/logout}">
                    <button id="logout-btn" type="submit" class="btn btn-secondary float-right">Logout</button>
                </form>
            </div>

            <div th:if="${successMessage}" role="alert" class="alert alert-success alert-dismissible fade show">
                <span th:text="${successMessage}">placeholder text</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div th:if="${errorMessage}" role="alert" class="alert alert-danger alert-dismissible fade show">
                <span th:text="${errorMessage}">placeholder text</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div id="contentDiv" style="clear: right;">
                <nav style="clear: right;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a th:classappend="${activeTab.equals('files')} ? active : ''" class="nav-item nav-link" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-files" aria-selected="true">Files</a>
                        <a th:classappend="${activeTab.equals('notes')} ? active : ''" class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
                        <a th:classappend="${activeTab.equals('credentials')} ? active : ''" class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials" role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <!-- files-->
                    <div th:classappend="${activeTab.equals('files')} ? 'active show' : ''" class="tab-pane fade" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                        <form action="#" enctype="multipart/form-data" method="POST" th:action="@{/files/upload}">
                            <div class="container">
                                <div class="row" style="margin: 1em;">
                                    <div class="col-sm-2">
                                        <label for="fileUpload">Upload a New File:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control-file" id="fileUpload" name="fileUpload" required>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-dark">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div th:if="${userFiles.size() == 0}" role="alert" class="alert alert-info show">
                            <span>Such empty! click <a href="#" class="alert-link" onclick="$('#fileUpload').click();">here</a> to upload a new file</span>
                        </div>

                        <div th:if="${userFiles.size() > 0}" class="table-responsive">
                            <table class="table table-striped" id="fileTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 80%" scope="col">File Name</th>
                                    </tr>
                                </thead>
                                <tbody>

                                <tr th:each="file : ${userFiles}">
                                    <td>
                                        <a href="#" th:href="@{'/files/download/' + ${file.fileName}}" class="btn btn-success">View</a>

                                        <form action="#" th:action="@{/files/delete}" method="post" style="display: inline-block">
                                            <input type="hidden" th:value="${file.fileName}" name="filename"/>
                                            <input type="submit" class="btn btn-danger" value="Delete"/>
                                        </form>
                                    </td>

                                    <th th:text="${file.fileName.length() > 25 ? #strings.substring(file.fileName, 0, 25) : file.fileName}" scope="row">placeholder filename</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- notes-->
                    <div th:classappend="${activeTab.equals('notes')} ? 'active show' : ''" class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                        <button id="create-note-btn" style="margin: 0.25em;" type="button" name="create-note-btn" class="btn btn-info float-right">
                            + Add a New Note
                        </button>

                        <div class="table-responsive">
                            <div th:if="${userNotes.size() == 0}" role="alert" class="alert alert-info show">
                                <span>Such empty! click <a href="#" class="alert-link" onclick="$('#noteModal').modal().show();">here</a> to create a new note</span>
                            </div>

                            <table th:if="${userNotes.size() > 0}" class="table table-striped" id="notesTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col">Title</th>
                                        <th style="width: 60%" scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="note-row" th:each="note : ${userNotes}">
                                        <td>
                                            <button class="btn btn-success edit-note"
                                               th:data-note-id="${note.noteId}"
                                               th:data-note-title="${note.noteTitle}"
                                               th:data-note-desc="${note.noteDescription}">Edit</button>

                                            <form method="post" action="#" th:data-delete-note-title="${note.noteTitle}" th:action="@{/notes}" style="display: inline-block">
                                                <input type="hidden" name="noteId" th:value="${note.noteId}"/>
                                                <input type="hidden" name="action" value="delete"/>
                                                <input type="submit" class="btn btn-danger delete-note-btn" value="Delete"/>
                                            </form>
                                        </td>
                                        <th scope="row" th:text="${note.noteTitle}" class="th-note-title">Example Note Title</th>
                                        <td th:text="${note.noteDescription.length() > 30 ? #strings.substring(note.noteDescription, 0, 30) : note.noteDescription}">Example Note Description </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="note-form" action="#" method="POST" th:action="@{/notes}">
                                            <input type="hidden" name="noteId" id="note-id">
                                            <input type="hidden" name="action" id="note-action" value="create">

                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Title</label>
                                                <input type="text" name="noteTitle" class="form-control" id="note-title" maxlength="20" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="note-description" class="col-form-label">Description</label>
                                                <textarea class="form-control" name="noteDescription" id="note-description" rows="5" maxlength="1000" required></textarea>
                                            </div>
                                            <button id="noteSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="note-submit-btn" type="button" class="btn btn-primary" onclick="$('#noteSubmit').click();">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- credentials-->
                    <div th:classappend="${activeTab.equals('credentials')} ? 'active show' : ''" class="tab-pane fade" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                        <button id="create-credentials-btn" style="margin: 0.25em;" type="button" class="btn btn-info float-right">
                            + Add a New Credential
                        </button>

                        <div class="table-responsive">
                            <div th:if="${userCredentials.size() == 0}" role="alert" class="alert alert-info show">
                                <span>Such empty! click <a href="#" class="alert-link" onclick="$('#credentialModal').modal().show();">here</a> to create new credentials</span>
                            </div>

                            <table th:if="${userCredentials.size() > 0}" class="table table-striped" th:object="${credentials}" id="credentialTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 35%" scope="col">URL</th>
                                        <th style="width: 20%" scope="col">Username</th>
                                        <th style="width: 25%" scope="col">Password</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="cred : ${userCredentials}">
                                    <td>
                                        <button class="btn btn-success edit-cred"
                                           th:data-cred-id="${cred.credentialId}"
                                           th:data-cred-url="${cred.url}"
                                           th:data-cred-username="${cred.username}"
                                           th:data-cred-plain-password="${cred.plainPassword}">Edit</button>

                                        <form method="post" action="#" th:data-delete-url="${cred.url}" th:action="@{/credentials}" style="display: inline-block">
                                            <input type="hidden" name="credentialId" th:value="${cred.credentialId}"/>
                                            <input type="hidden" name="action" value="delete"/>
                                            <input type="submit" class="btn btn-danger delete-cred-btn" value="Delete"/>
                                        </form>
                                    </td>
                                    <th scope="row" class="th-credentials-url" th:text="${cred.url.length() > 28 ? #strings.substring(cred.url, 0, 28) : cred.url}">Example Credential URL</th>
                                    <td class="td-credentials-username" th:text="${cred.username.length() > 28 ? #strings.substring(cred.username, 0, 28) : cred.username}">Example Credential Username</td>
                                    <td class="td-credentials-password" th:text="${cred.password.length() > 28 ? #strings.substring(cred.password, 0, 28) : cred.password}">Example Credential Password</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <form id="formCredentials" action="#" method="POST" th:action="@{/credentials}">
                                            <input type="hidden" name="credentialId" id="credential-id">
                                            <input type="hidden" name="action" id="credential-action" value="create">

                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">URL</label>
                                                <input type="text" name="url" class="form-control" id="credential-url" maxlength="100" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Username</label>
                                                <input type="text" name="username" class="form-control" id="credential-username" maxlength="30" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Password</label>
                                                <input type="text" name="password" class="form-control" id="credential-password" maxlength="30" required>
                                            </div>

                                            <button id="credentialSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="credential-submit-btn" type="button" class="btn btn-primary" onclick="$('#credentialSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <!--For opening the note modal-->
        <script type="text/javascript">
            $(document).ready(function () {
                $('#create-note-btn').on('click', function() {
                    $('#note-id').val('');
                    $('#note-title').val('');
                    $('#note-description').val('');
                    $('#note-submit-btn').text('Save');
                    $('#note-action').val('create');

                    $('#noteModal').modal('show');
                });

                $('.edit-note').on('click', function(event) {
                    let $target = $(event.target);

                    $('#note-id').val($target.data('note-id'));
                    $('#note-title').val($target.data('note-title'));
                    $('#note-description').val($target.data('note-desc'));
                    $('#note-action').val('edit');
                    $('#note-submit-btn').text('Save changes');

                    $('#noteModal').modal('show');
                });

                $('#create-credentials-btn').on('click', function() {
                    $('#credential-id').val('');
                    $('#credential-url').val('');
                    $('#credential-username').val('');
                    $('#credential-password').val('');
                    $('#credential-submit-btn').text('Save');
                    $('#credential-action').val('create');

                    $('#credentialModal').modal('show');
                });

                $('.edit-cred').on('click', function(event) {
                    let $target = $(event.target);

                    $('#credential-id').val($target.data('cred-id'));
                    $('#credential-url').val($target.data('cred-url'));
                    $('#credential-username').val($target.data('cred-username'));
                    $('#credential-password').val($target.data('cred-plain-password'));
                    $('#credential-submit-btn').text('Save changes');
                    $('#credential-action').val('edit');

                    $('#credentialModal').modal('show');
                });
            }());
        </script>
    </body>
</html>